h1 {
  color: black;
}
.main_page_real {
  min-height: auto !important;
  height: 100% !important;
  padding-bottom: 0;
  position: block;
  width: 100%;
  overflow: hidden;
}
.main_page {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.main_page img {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  object-fit: cover;

  object-position: top center;
}
