.error-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.error-text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
  font-size: 24px;
  text-align: center;
  color: #333;
  font-weight: bold;
}
.error-text2 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
  font-size: 20px;
  text-align: center;
  color: #333;
  font-weight: bold;
}
.main-page-btn {
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.main-page-btn:hover {
  background-color: #000000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
  transform: translateY(-2px);
}
