
/* 바디 세팅 */
body {
    margin-left: 227px;
    margin-top: 55px;
    
}

/* 주문 결제 */
.title {
    width: 762px;
    height: 60px;
    font-size: 32px;
}

/* order 페이지 바디 */
.order_body {
    display: flex;
}

/* order 페이지 오른쪽 요소 */
.right {
    margin-left: 142px;
}

/* order 페이지 왼쪽 요소들의 제목(주문상품정보, 주문자 정보, 배송정보, 할인 혜택, 결제수단) */
.sub_title {
    margin-top: 20px;
    margin-left: 10px;
    width: 719px;
    height: 27px;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding-top: 28px;

    border-top: 1px solid #D9D9D9;
    transform: matrix(1, 0, -0.01, 1, 0, 0);
}

/* + - 확장 버튼 */
.sub_title > button {
    border: none ;
    font-size: 30px;
    background-color: transparent;
    cursor: pointer;
}

/* 주문 상품 컴포넌트 */
.prod_info {
    
    font-size: 24px;
    margin-left: 40px;
    margin-top: 46px;
    /* border: 1px solid; */
    width: 638px;
    height: 100px;
    display: flex;
}

/* 상품 이미지 */
.prod_info > img {
    width: 99px;
    height: 99px;
}

/* 상품 정보 */
.prod_info > div {
    margin-top: 10px;
    margin-left: 33px;
    width: 254px;
    height: 69px;
    /* border: 1px solid; */
}

.prod_info > div > div{
    margin-bottom: 21px;
}

/* 상품명, 옵션, 수량 */
.prod_info > div > div{
    margin-bottom: 21px;
}

/* 가격 정보 */
.prod_info > div:nth-child(3) > div{
    margin-left: 130px;
    /* color: red; */
}

/* 최종결제금액  */
.final_sub_title {
    margin-top: 20px;
    margin-left: 10px;
    border: none;
    width: 562px;
    height: 27px;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding-top: 28px;

    border-top: 1px solid #D9D9D9;
    transform: matrix(1, 0, -0.01, 1, 0, 0);
}

/* 주문금액, 배송비, 할인 금액, 총 금액을 감싸는 태그 */
.final_content > div {
    border-bottom: 1px solid #D9D9D9;
    transform: matrix(1, 0, -0.01, 1, 0, 0);
    /* background-color: aqua; */
    width: 562px;
    height: 53px;
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: 20px;
}

/* 주문금액, 배송비, 할인금액 */
.final_content > div > div:nth-child(1) {
    margin-top: 15px;
    float: left;
}

/* 총금액 */
.final_content > div > div:nth-child(2) {
    margin-top: 15px;
    float: right;
}

/* 총금액 : 가격 */
.final_content > div:nth-child(4)  {
    font-weight: 700;
    font-size: 28px;
}

/* 최종 결제 금액 동의 태크*/
.final_agree {
    /* border: 1px solid; */
    width: 562px;
    height: 185px;
    margin-left: 20px;
    margin-top: 26px;
}

/* 모두 동의합니다 */
.final_agree > div:nth-child(1) {
    margin-bottom: 30px;
}

/* 나머지 동의 */
.final_agree > div {
    margin-bottom: 15px;
}

/* 구매하기 버튼 */
#buy_btn {
    margin-left: 20px;
    background-color: black;
    width: 529px;
    height: 98px;
    font-size: 25px;
    color: white;
}







