/* Noto Sans KR */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

/* Nanum Gothic */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

/* Gothic A1 */
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");

/* Black Han Sans */
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

/* 폰트 스타일 */
.ql-font-Noto-Sans {
  font-family: "Noto Sans", sans-serif;
}

.ql-font-Roboto {
  font-family: "Roboto", sans-serif;
}

.ql-font-Open-Sans {
  font-family: "Open Sans", sans-serif;
}

.ql-font-Gugi {
  font-family: "Gugi", cursive;
}
.ql-editor strong {
  font-weight: bold;
}
.ql-editor em {
  font-style: italic;
}

/* .QuillContainer {
  height: 90%;
} */
.ql-editor {
  min-height: 700px !important;
  max-height: 700px;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
}
.CalendarContainer {
  z-index: 999;
}

/* .NameCategory {
  display: flex;
  flex-direction: column;
} */

/* .NameCategory select {
  margin-bottom: 10px;
} */

.CalendarContainer {
  margin-left: 20px;
}

/* .NameCategory {
  margin-bottom: 10px;
} */

.CalendarContainer {
  margin-left: 0;
}

/* 추가 변경부분 */
.QuillContainer .NameCategory {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.QuillContainer .NameCategory h1 {
  text-align: center;
  font-size: 2vw;
  margin-top: 0;
  margin-bottom: 1vw;
}
.QuillContainer .NameCategory .post-status {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.QuillContainer .NameCategory .post-status button {
  text-align: center;
  all: unset;
  cursor: pointer;
  padding: 8px;
  margin: 5px;
  color: white;
  background-color: black;
}
.QuillContainer .NameCategory .post-category-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.QuillContainer .NameCategory .post-category-input select {
  font-size: 1vw;
  margin: 7px 0;
  width: 100%;
  height: 2.2vw;
  border-width: 0px;
  border: 1px solid black;
}
.QuillContainer .NameCategory .post-category-input input {
  width: 99%;
  height: 1.5vw;
  font-size: 1vw;
  margin: 7px 0;
  padding: 4px;
  border-width: 0px;
  border: 1px solid black;
}
.QuillContainer .event-date h4 {
  height: 1.5vw;
  text-align: center;
  font-size: 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.selected-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.image-container {
  display: flex;
}
.image-buttons {
  display: flex;
  margin: 0 15px;
}
.image-selection h4 {
  margin: 10px 0px;
}
