.admin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  width: 98vw;
  background-color: #f7f7f7;
}

.admin-content-wrapper {
  width: calc(100vw - 280px);
  height: 100vh;
  background-color: #ffffff;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.admin-row {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

.admin-nav-wrapper {
  width: 280px;
  padding: 2rem;
  border-right: 1px solid #ccc;
  background-color: #f7f7f7;
}

.admin-nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-menu-item {
  padding: 0.5rem 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.admin-menu-item.active {
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

p {
  font-size: 1rem;
  text-align: center;
}

.admin-content {
  width: 100%;
  position: relative;
}
.post img {
  aspect-ratio: 8/9;
  width: 200px;
  object-fit: cover;
}
