.admin-nav {
  width: 10%;
  height: 100%;
  background-color: #f8f9fa;
  padding: 2.5%;
  position: fixed;
}

.admin-nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.admin-nav-link {
  display: block;
  color: #212529;
  text-decoration: none;
  padding: 8px 16px;
  transition: background-color 0.3s;
}

.admin-nav-link:hover,
.admin-nav-link.active {
  background-color: #e9ecef;
}

.admin-nav-link.active {
  font-weight: bold;
}
